- form_for @draught do |f|
  = f.error_messages
  %p
    = f.label :display_name
    %br
    = f.text_field :display_name
  %p
    = f.label :full_name
    %br
    = f.text_field :full_name
  %p
    = f.label :brewery
    %br
    = f.text_field :brewery
  %p
    = f.label :country
    %br
    = f.text_field :country
  %p
    = f.label :abv
    %br
    = f.text_field :abv
  %p
    = f.label :style
    %br
  = f.select :style, beer_styles
  %p
    = f.label :source
    %br
    = f.select :source, beer_distributors
  %p
    = f.label :volume
    %br
    = f.text_field :volume
  %p
    = f.label :volume_unit
    %br
    = f.select :volume_unit, beer_volumes
  %p
    = f.label :keg_cost
    %br
    = f.text_field :keg_cost
  %p
    = f.label :serving_size
    %br
    = f.text_field :serving_size
  %p
    = f.label :glass_type
    %br
    = f.select :glass_type, beer_glasses
  %p
    = f.label :small_serving_size
    %br
    = f.text_field :small_serving_size
  %p
    = f.label :small_glass_type
    %br
    = f.text_field :small_glass_type
  %p
    = f.label :sales_tax
    %br
    = f.select :sales_tax, county_tax
  %p
    = f.label :price
    %br
    = f.text_field :price
  %p
    = f.label :small_price
    %br
    = f.text_field :small_price
  %p
    = f.label :stock
    %br
    = f.text_field :stock
  %p
    = f.label :info
    %br
    = f.text_field :info
  %p
    = f.label :display
    %br
    = f.check_box :display
  %p
    = f.submit "Submit"
