- title "Bottles"

%table
  %tr
    %th Version
    %th Display Name
    %th Full Name
    %th Brewery
    %th Country
    %th Abv
    %th Style
    %th Source
    %th Volume
    %th Cost
    %th Glass
    %th Sales Tax
    %th Price
    %th Stock
    %th Display
    %th Revenue
    %th Tax
    %th Profit
    %th Margin
    
  - for bottle in @bottles
    %tr
      %td= h bottle.version
      %td= h bottle.display_name
      %td= h bottle.full_name
      %td= h bottle.brewery
      %td= h bottle.country
      %td= h number_to_percentage bottle.abv, :precision => 2
      %td= h bottle.style
      %td= h bottle.source
      %td= h bottle.volume.to_s + " " + bottle.volume_unit
      %td= h number_to_currency bottle.cost
      %td= h bottle.glass_type
      %td= h number_to_percentage bottle.sales_tax * 100, :precision => 2
      %td= h number_to_currency bottle.price
      %td= h bottle.stock
      %td= h bottle.display
      %td= h number_to_currency bottle.revenue
      %td= h number_to_currency bottle.tax
      %td= h number_to_currency bottle.profit
      %td= h number_to_percentage bottle.margin, :precision => 2
      %td= link_to 'Show', bottle
      %td= link_to 'Edit', edit_bottle_path(bottle)
      %td= link_to 'Destroy', bottle, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Bottle", new_bottle_path
