- form_for @purchase do |f|
  = f.error_messages
  %p
    = f.hidden_field :user_id, :value => current_user.id
    = f.label :tab_id
    %br
    = f.collection_select :tab_id, @tabs, :id, :name
    %br
    = f.select :purchasable_type, ["Food", "Bottle", "Draught", "Misc"]
    %br
    = f.collection_select :purchasable_id, Food.all+Bottle.all+Draught.all+Misc.all, :id, :display_name
  %p
    = f.submit "Submit"