- form_for @tab do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label 'Cashier'
    %br  
    = f.collection_select :user_id, User.all, :id, :username
  %p
    = f.label :Drawer
    %br
    = f.collection_select :drawer_id, Drawer.all, :id, :id
  %p
    = f.label :Type
    %br
    = f.select :type_helper, tab_types
  %p
    = f.submit "Submit"
