- if @tab
  %span.tab_name= @tab.name
  #tab_list
    #rightscroller
      - unless @tab.purchases.blank?
        %ul
          - @tab.purchases.each do |purchase|
            %li{:id => "purchase_#{purchase.id}"}
              .link{:onclick => "showItemOptions('#purchase_#{purchase.id}');"}
                %span.name&= purchase.purchasable.display_name
                %span.price&= number_to_currency purchase.purchasable.price
              .option_box
                %ul
                  = render :partial => 'tabs/option', :collection => Tab::OPTIONS, :locals => {:purchase => purchase}
      - else
        %p Empty tab, #{link_to_remote "delete?", :url => { :controller => 'tabs', :action => "destroy", :id => @tab.id }, :method => 'delete'}
  #tab_info
    %p.total_items= "Items #{@tab.purchases.count}"
    %p.total_items= "Total #{number_to_currency @tab.total_sale}"

- else
  %span.tab_name= "No Tab Selected"
  #tab_list
    #rightscroller
  #tab_info
