- if @tab
  %span.tab_name= @tab.name
  #tab_list
    #rightscroller
      - unless @tab.purchases.blank?
        %ul
          - @tab.purchases.each do |purchase|
            %li{:id => "purchase_#{purchase.id}", :class => purchase_class(purchase)}
              .link{:onclick => "showItemOptions('#purchase_#{purchase.id}');"}
                %span.name{:id => "purchase_name_#{purchase.id}"}&= purchase.purchasable.display_name
                %span.price{:id => "purchase_price_#{purchase.id}"}&= number_to_currency purchase.price
              .option_box
                %ul
                  = render :partial => 'tabs/option', :collection => Tab::OPTIONS, :locals => {:purchase => purchase}
      - else
        %p Empty tab, #{link_to_remote "delete?", :url => { :controller => 'tabs', :action => "destroy", :id => @tab.id }, :method => 'delete'}
  #tab_info
    = render :partial => 'tabs/info'

  #print_button
    = link_to_remote "print", :url => { :controller => 'printer', :action => "print", :id => @tab.id }, :method => 'post'
- else
  %span.tab_name= "No Tab Selected"
  #tab_list
    #rightscroller
  #tab_info
