- form_for @user_session do |f|
  = f.error_messages
  %p
    = f.label ""
    = f.collection_select :username, User.all, :username, :username
  %p
    = f.label ""
    = f.password_field :password
  %p
    = f.submit "Login"
