!!! Strict
%html{html_attrs}
  
  %head
    %title
      = h(yield(:title) || "Untitled")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0, user-scalable=no"}/
    %meta{:name=>"apple-mobile-web-app-capable", :content=>"yes"}/
    = stylesheet_link_tag 'ipad'
    = javascript_include_tag :defaults
    = javascript_include_tag 'iscroll.js'
    = yield(:head)
  %body
    #wrap
      #container
        #top_bar
          %span.main_title
            = link_to "Beerworks Point Of Sale", root_path
          %span.drawer
            = drawer_id
          %span.user
            - if current_user
              Cashier: #{current_user.username} 
        - if current_user
          #nav_bar
            = render :partial => 'navigation'
        #flash_bar
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}"
        #main_bar
          - if current_user
            #left_bar
              = render :partial => 'lister', :locals => {:list_items => @tabs}
            #right_bar
              = render :partial => "tabs/show", :locals => {:tab => @tab}
          - else
            = yield
